<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="SQLMapper">
    <output-path>$PROJECT_DIR$/out/artifacts/SQLMapper</output-path>
    <root id="archive" name="SQLMapper.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="co2-sqlmapper" />
      <element id="module-output" name="co2-core" />
      <element id="module-output" name="burp-api" />
    </root>
  </artifact>
</component>